#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

body{
  background-image:url("../public/images/background.gif");
  background-size:cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.7);
}

h1,h2,h3,h4{
outline: 0px;
}
